<div class="h1 text-center">Course Listining</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">CS111: Intro Computer Science</h5>
            <h6 class="card-subtitle mb-2 text-muted">Intro Computer Science</h6>
            <p class="card-text">Description: A thorough intro to computer Science</p>
            <a href="#" class="card-link">Enroll</a>
            <a href="#" class="card-link">Info</a>
        </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">CS112: Medium Computer Science</h5>
            <h6 class="card-subtitle mb-2 text-muted">Medium Computer Science</h6>
            <p class="card-text">Description: A intermediate look at computer Science</p>
            <a href="#" class="card-link">Enroll</a>
            <a href="#" class="card-link">Info</a>
        </div>
    </div>
  </div>
</div>
