<div class="h1 text-center">Course Listining</div>
<div class="row">
  <% @courses.each do |c| %>
    <div class="col-sm-6">
      <div class="card">
          <div class="card-body">
              <h5 class="card-title"><%= c.short_name %>: <%= c.name %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= c.description %>></h6>
              <a href="#" class="card-link">Enroll</a>
              <a href="#" class="card-link">Info</a>
          </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
