<div class="card-footer page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> Felipe Wolf/Sena</a>
    </div>
    <!-- Copyright -->

</div>